.contentWrapper,
.middleNavParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contentWrapper {
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
}
.contractBasedRecommendations {
  margin: 0;
  height: 75px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.contractRecommendations,
.contractRecommendationsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.contractRecommendations {
  flex: 1;
  padding: 0 299px 0 var(--padding-281xl);
}
.contractRecommendationsWrapper {
  align-self: stretch;
  padding: 0 0 32px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-comforter);
}
.div {
  position: relative;
  text-decoration: line-through;
  line-height: 33.4px;
  display: none;
  white-space: nowrap;
}
.component1Icon {
  height: 305px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.sterilizationComponent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-mini);
}
.warranty,
.years {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 26.7px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 84px;
  flex-shrink: 0;
}
.years {
  font-weight: 500;
  color: var(--color-forestgreen);
  min-width: 67px;
}
.sterilizationWarrantyYears {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-7);
  font-size: var(--font-size-xl);
}
.highTemperatureMedicalSteri,
.sterilizationProductSeparato {
  position: relative;
  line-height: 33.4px;
  color: var(--gray-900);
}
.sterilizationProductSeparato {
  width: 209px;
  font-weight: 500;
  color: var(--color-red);
  display: inline-block;
}
.product,
.productItems,
.sterilizationWarrantyInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sterilizationWarrantyInfo {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm-3);
  color: var(--gray-500);
}
.product,
.productItems {
  box-sizing: border-box;
  max-width: 100%;
}
.product {
  width: 390px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.08);
  border-radius: var(--br-8xs);
  background-color: var(--gray-00);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-7xl) var(--padding-14xl-4);
  gap: var(--gap-10xl-9);
}
.productItems {
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-4xs) 0;
  gap: var(--gap-41xl);
}
.allProducts {
  margin: 0;
  height: 75px;
  width: 653px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.allProduct {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-comforter);
  color: var(--gray-900);
  text-align: left;
  display: inline-block;
  min-width: 81px;
}
.tab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
  background-color: var(--gray-00);
  box-shadow: 0-2px 0#eb1700 inset;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab1:hover {
  background-color: #e6e6e6;
}
.prosthetics {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 83px;
}
.tab2 {
  background-color: var(--gray-00);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
}
.surgicalInstruments {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.tab3 {
  flex: 1;
  background-color: var(--gray-00);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 107px;
}
.consumables,
.dressings {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 96px;
}
.dressings {
  min-width: 71px;
}
.tab {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 361px;
  max-width: 100%;
  row-gap: 20px;
}
.seeMore {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
}
.regulararrowrightIcon {
  height: 20px;
  width: 20px;
  position: relative;
}
.button,
.heading,
.leftContents {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  background-color: var(--gray-00);
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-5xs);
  color: var(--color-red);
}
.heading,
.leftContents {
  max-width: 100%;
}
.leftContents {
  width: 668px;
  justify-content: center;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--gray-600);
}
.heading {
  align-self: stretch;
  justify-content: space-between;
  row-gap: 20px;
  gap: 0;
}
.headingParent,
.product1 {
  align-self: stretch;
  justify-content: flex-start;
}
.product1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 32px 43.9px;
  min-height: 1720px;
}
.headingParent {
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.headingParent,
.productListing,
.productListingWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.productListing {
  width: 1320px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 120px;
}
.productListingWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 196px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-4xl-4);
  color: var(--gray-400);
  font-family: var(--font-comforter);
}
.screenshot10512 {
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 1867px;
  background-color: #f2f2f2;
  width: 54px;
  height: 52px;
  z-index: 1;
}
.screenshot10512Parent {
  margin-right: -9px;
  align-self: stretch;
  height: 409.6px;
  position: relative;
  background-image: url(/public/screenshot-105-12@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.heroSectionV2 {
  width: 100%;
  position: relative;
  background-color: var(--gray-00);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 1095.4px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .heading {
    flex-wrap: wrap;
  }
  .productListingWrapper {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .contractRecommendations {
    padding-left: var(--padding-131xl);
    padding-right: 149px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .contractBasedRecommendations {
    font-size: var(--font-size-13xl);
  }
  .contractRecommendations {
    gap: var(--gap-base);
    padding-left: var(--padding-56xl);
    padding-right: 74px;
    box-sizing: border-box;
  }
  .product {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .productItems {
    gap: var(--gap-11xl);
  }
  .allProducts {
    font-size: var(--font-size-13xl);
  }
  .leftContents,
  .tab {
    flex-wrap: wrap;
  }
  .product1 {
    gap: 22px;
  }
  .productListing {
    gap: var(--gap-41xl);
  }
  .productListingWrapper {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contractBasedRecommendations {
    font-size: var(--font-size-5xl);
  }
  .div {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .warranty,
  .years {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .highTemperatureMedicalSteri,
  .sterilizationProductSeparato {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .allProducts {
    font-size: var(--font-size-5xl);
  }
  .tab {
    min-width: 100%;
  }
  .productListing {
    gap: var(--gap-11xl);
  }
}
