.div {
  position: relative;
  text-decoration: line-through;
  line-height: 25.5px;
  display: none;
  white-space: nowrap;
}
.component7Icon {
  height: 233px;
  width: 233px;
  position: relative;
  object-fit: cover;
}
.component7Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-3xs);
}
.warranty,
.year {
  position: relative;
  line-height: 20.4px;
  display: inline-block;
  min-width: 65px;
}
.year {
  font-weight: 500;
  color: var(--color-forestgreen);
  min-width: 41px;
}
.warrantyParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-1);
  font-size: var(--font-size-base-3);
}
.completeSurgicalInstrument,
.div1 {
  position: relative;
  line-height: 25.5px;
  color: var(--gray-900);
}
.div1 {
  width: 138px;
  font-weight: 500;
  color: var(--color-red);
  display: inline-block;
}
.frameParent,
.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-2xs-3);
  color: var(--gray-500);
}
.product {
  width: 294px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.08);
  border-radius: var(--br-9xs-8);
  background-color: var(--gray-00);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-base-3) var(--padding-mini) var(--padding-base-1)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xl-1);
  text-align: left;
  font-size: var(--font-size-mid-9);
  color: var(--gray-400);
  font-family: var(--font-comforter);
}
